USE [master]
GO
/****** Object:  Database [TRUCO]    Script Date: 11/28/2022 9:49:00 PM ******/
CREATE DATABASE [TRUCO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TRUCO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TRUCO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TRUCO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TRUCO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TRUCO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TRUCO]
GO
/****** Object:  Table [dbo].[JUGADORES_DB]    Script Date: 11/28/2022 9:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JUGADORES_DB](
	[NOMBRE] [varchar](100) NOT NULL,
	[PARTIDAS_JUGADAS] [int] NOT NULL,
	[PARTIDAS_GANADAS] [int] NOT NULL,
	[PARTIDAS_PERDIDAS] [int] NOT NULL,
	[MAYOR_PUNTAJE] [int] NOT NULL,
	[ESTA_JUGANDO] [bit] NOT NULL,
 CONSTRAINT [PK_JUGADORES_DB] PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALAS_DB]    Script Date: 11/28/2022 9:49:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS_DB](
	[ID_SALA] [int] IDENTITY(1,1) NOT NULL,
	[JUGADOR_UNO] [varchar](100) NOT NULL,
	[JUGADOR_DOS] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SALAS_DB] PRIMARY KEY CLUSTERED 
(
	[ID_SALA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[JUGADORES_DB] ([NOMBRE], [PARTIDAS_JUGADAS], [PARTIDAS_GANADAS], [PARTIDAS_PERDIDAS], [MAYOR_PUNTAJE], [ESTA_JUGANDO]) VALUES (N'Dona', 9, 5, 4, 7, 0)
INSERT [dbo].[JUGADORES_DB] ([NOMBRE], [PARTIDAS_JUGADAS], [PARTIDAS_GANADAS], [PARTIDAS_PERDIDAS], [MAYOR_PUNTAJE], [ESTA_JUGANDO]) VALUES (N'Muffin', 6, 1, 4, 6, 0)
INSERT [dbo].[JUGADORES_DB] ([NOMBRE], [PARTIDAS_JUGADAS], [PARTIDAS_GANADAS], [PARTIDAS_PERDIDAS], [MAYOR_PUNTAJE], [ESTA_JUGANDO]) VALUES (N'Pastel', 5, 5, 0, 9, 0)
GO
SET IDENTITY_INSERT [dbo].[SALAS_DB] ON 

INSERT [dbo].[SALAS_DB] ([ID_SALA], [JUGADOR_UNO], [JUGADOR_DOS]) VALUES (5, N'Dona', N'Muffin')
INSERT [dbo].[SALAS_DB] ([ID_SALA], [JUGADOR_UNO], [JUGADOR_DOS]) VALUES (6, N'Dona', N'Rogel')
INSERT [dbo].[SALAS_DB] ([ID_SALA], [JUGADOR_UNO], [JUGADOR_DOS]) VALUES (7, N'Pastel', N'Rogel')
SET IDENTITY_INSERT [dbo].[SALAS_DB] OFF
GO
USE [master]
GO
